.banner {
	background-attachment: fixed;
	background-color: #645862;
	background-image: url(img/background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	cursor: default;
	text-align: center;
	width: 100%;
	float: left;
}
.bg-overlay {
	padding: 280px 0 220px;
	background-color: RGBA(15, 5, 20, 0.84);
}
.banner-text h2 {
	font-size: 50px;
}
.banner-text h2 span {
	color: #EB233C;
}
.banner-text p {
	font-size: 15px;
}
.banner-button {
	border: rgba(204, 204, 204, 0.18) 1px solid;
	padding: 12px 35px;
	color: #ccc;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	margin-top: 50px;
}
.banner-button:hover {
	background-color: #ccc;
	text-decoration: none;
	color: #000;
}